@using oa.Models
@model IEnumerable<oa.Models.LogModel>

@{
    ViewData["Title"] = "ViewLogs";
}
<div class="text-center margin-top-120">
    <img src="~/img/security_logs.jpg" style="max-height: 150px;" />
</div>
<h1 class="text-center mb-4">Security Log</h1>
@* code here to remove button if the user is not admin or manager *@
<div class="search-row">
    <div class="search-colum-1" style="margin-left: 60px;">
        
    </div>
    <div class="search-colum-2">
        <img src="~/img/search.svg" class="search-img" text-align:right;" />
    </div>
    <div class="search-colum-3">
        <input type="text" id="searchInput" class="form-control mb-3" style="max-width:200px;" placeholder="Search...">
    </div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ChangeDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChangedFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChangedTo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tableBody">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ChangeDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChangedFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChangedTo)
            </td>

        </tr>
}
    </tbody>
</table>
@* Search and Filter *@
<script>
    document.getElementById('searchInput').addEventListener('keyup', function () {
        let input = this.value.toLowerCase();
        let rows = document.getElementById('tableBody').getElementsByTagName('tr');

        for (let i = 0; i < rows.length; i++) {
            let rowData = rows[i].getElementsByTagName('td');
            let match = false;

            for (let j = 0; j < rowData.length; j++) {
                if (rowData[j].innerText.toLowerCase().indexOf(input) > -1) {
                    match = true;
                    break;
                }
            }

            if (match) {
                rows[i].style.display = '';
            } else {
                rows[i].style.display = 'none';
            }
        }
    });
</script>