@using oa.Models;
@model IEnumerable<oa.Models.AccountsModel>

<div class="text-center margin-top-120">
    <img src="~/img/chart_of_accounts.jpg" style="max-height: 150px;" />
</div>
<h1 class="text-center mb-4">Chart of Accounts</h1>
@* code here to remove button if the user is not admin or manager *@
<div class="search-row">
    <div class="search-colum-1">
        <a class="btn btn-primary" style="max-height:32px;" asp-action="AddAccount" role="button">Add New</a>
    </div>
    <div class="search-colum-2">
        <img src="~/img/search.svg" class="search-img" text-align:right;"/>
    </div>
    <div class="search-colum-3">
        <input type="text" id="searchInput" class="form-control mb-3" style="max-width:200px;" placeholder="Search...">
    </div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="max-width: 75px;">
                @Html.DisplayNameFor(model => model.number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
@*             <th>
                @Html.DisplayNameFor(model => model.sort_priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.normal_side)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th> *@
            <th >
                @Html.DisplayNameFor(model => model.type)
            </th>
            <th style ="max-width: 25px;">
                @Html.DisplayNameFor(model => model.term)
            </th>
@*             <th>
                @Html.DisplayNameFor(model => model.statement_type)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.account_creation_date)
            </th>
@*             <th>
                @Html.DisplayNameFor(model => model.opening_transaction_num)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.current_balance)
            </th>
@*             <th>
                @Html.DisplayNameFor(model => model.created_by)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.account_status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tableBody">
@foreach (var item in Model) {
        <tr>
            <td>
                
                <a asp-action="ViewAccountDetails" asp-route-id="@item.number" role="button">
                @Html.DisplayFor(modelItem => item.number)
                </a>
            </td>
            <td>
               <a asp-action="ViewAccountDetails" asp-route-id="@item.number" role="button">
                @Html.DisplayFor(modelItem => item.name)
                </a>
            </td>

@*          <td>
                @Html.DisplayFor(modelItem => item.sort_priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.normal_side)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.term)
            </td>
@*             <td>
                @Html.DisplayFor(modelItem => item.statement_type)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.account_creation_date)
            </td>
@*             <td>
                @Html.DisplayFor(modelItem => item.opening_transaction_num)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.current_balance)
            </td>
@*             <td>
                @Html.DisplayFor(modelItem => item.created_by)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.account_status)
            </td>
            <td>
                <a class="btn btn-outline-secondary" asp-action="EditAccount" asp-route-id="@item.id" role="button">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>

@* Search and Filter *@
<script>
    document.getElementById('searchInput').addEventListener('keyup', function () {
        let input = this.value.toLowerCase();
        let rows = document.getElementById('tableBody').getElementsByTagName('tr');

        for (let i = 0; i < rows.length; i++) {
            let rowData = rows[i].getElementsByTagName('td');
            let match = false;

            for (let j = 0; j < rowData.length; j++) {
                if (rowData[j].innerText.toLowerCase().indexOf(input) > -1) {
                    match = true;
                    break;
                }
            }
            if (match) {
                rows[i].style.display = '';
            } else {
                rows[i].style.display = 'none';
            }
        }
    });
</script>