@using oa.Models;
@model IEnumerable<oa.Models.AccountsModel>
@{
    ViewData["Title"] = "Chart Of Accounts";
}
    <h1 class="text-center mb-4 margin-top-120">Chart Of Accounts</h1>
<div class="manage-btn-cntr">
    <a class="btn btn-primary" id="register" asp-area="Accounting" asp-page="/Accounting/CreateNewAccount" role="button">Add New</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.account_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.account_normal_side)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.account_type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.account_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.account_normal_side)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.account_type)
                </td>
                <td>

                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Deactivate" asp-route-id="@item.id">Deactivate</a> 

                </td>
            </tr>
        }
    </tbody>
</table>