@using Microsoft.AspNetCore.Identity
@using System.Globalization
@using oa.Areas.Identity.Data
@using oa.Services
@using oa.Models;
@model oa.Models.JournalBundle
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@inject UserService CurrentUser
@{
    AppUserModel currentUser = CurrentUser.GetUser();
    var UsersEmail = currentUser.Email;
    var UserName = currentUser.ScreenName;
    DateTime today = System.DateTime.Today;
    var numNewLines = Model.transactions_list.Count - 2;

}
<div class="journal-wrapper margin-top-120">
    <div class="form-container">
        <form class="add-account-form-container">
            @* row 0 *@
            <div class="row g-2">
                <div class="col-md">
                    <div class="form-floating mb-2">
                    </div>
                </div>
                <div class="col-md journal-col">
                    <div class="form-floating" style="margin-bottom: 7px;">
                        <input class="form-control form-control-sm" placeholder="nextJournalId" value="@Model.journal_id" id="journal-id" readonly />
                        <label for="journal_id" class="control-label">Journal Id:</label>
                    </div>
                </div>
            </div>
            @* row 1 *@
            <div class="row g-2">
                <div class="col-md">
                    <div class="form-floating mb-2">
                    </div>
                </div>
                <div class="col-md journal-col">
                    <div class="form-floating" style="margin-bottom: 7px;">
                        <input class="form-control form-control-sm" placeholder="Created by:" id="created-by" value="@Model.created_by" readonly />
                        <label for="created-by" class="control-label">User Name:</label>
                    </div>
                </div>
            </div>
            @* row 2 *@
            <div class="row g-2">
                <div class="col-md">
                    <div class="form-floating mb-2">
                    </div>
                </div>
                <div class="col-md journal-col">
                    <div class="form-floating" style="margin-bottom: 7px;">
                        <input class="form-control form-control-sm" placeholder="journal_date" value="@Model.journal_date?.ToString("MM-dd-yyyy", CultureInfo.InvariantCulture)" id="journal-date" readonly />
                        <label for="journal_date" class="control-label">Journal Date:</label>
                    </div>
                </div>
            </div>
            @* row 3 *@
            <div class="row g-2">
                <div class="col-md">
                    <div class="form-floating mb-2">
                    </div>
                </div>
                <div class="col-md journal-col">
                    <div class="form-floating" style="margin-bottom: -7px;">
                        <input class="form-control form-control-sm currencyField" value="@Model.total_adjustment" id="journal-total-amount" readonly />
                        <label class="control-label">Entry Total:</label>
                    </div>
                </div>
            </div>
            @* row 4 *@
            <div class="row g-2">
                <div class="col-md">
                    <div class="form-floating mb-2">
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating mb-2">
                    </div>
                </div>
            </div>
            @* row 5 *@
            <div class="row g-2">
                <div class="col-md">
                    <div class="form-floating">
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating mb-2">
                    </div>
                </div>
            </div>
            @* row 6 *@
            <div class="row g-2">
                <div class="col-md">
                    <div class="form-floating mb-2">
                    </div>
                </div>
                <div class="col-md journal-col">
                    <div class="form-floating">
                        <input class="form-control form-control-sm" value="@Model.status" id="journal-status" readonly />
                        <label for="account-status" class="control-label">Status:</label>
                    </div>
                </div>
            </div>
            @* row 7 *@
            <div class="row g-2">
                <div class="col-md">
                    <div class="form-floating mb-2">
                    </div>
                </div>
                <div class="col-md">
                    @* empty spot *@
                </div>
            </div>
            <div class="text-center" style="height:0px;">
                <img src="~/img/journal.jpg" style="max-height: 150px; transform:translateY(-250px);" />
            </div>
            <h3 class="text-center" style="transform:translateY(-100px);">Journal Details</h3>
            <div class="transaction-container" data-transaction="1">
                <div class="journal-container text-center">
                    <!-- heading row -->
                    <div class="journal-row-heading">
                        <div class="col-md-3 transaction-date-container">
                            <div class="journal-transaction-date">
                                <input class="form-control text-center" style="margin-left:10px;" value="@Model.journal_date?.ToString("MM-dd-yyyy", CultureInfo.InvariantCulture)" data-transaction="1" data-line="0" id="transaction-date" readonly />
                            </div>
                        </div>
                        <div class="col-md-6 transaction-upload-container">
                            <div class="journal-transaction-upload">
                                <div class="file-input-wrapper">
                                    <div class="faux-upload-container">
                                        <div class="faux-upload-btn-container">
                                            <div class="faux-upload-btn-row">
                                                Upload
                                            </div>
                                        </div>
                                        <div class="faux-upload-file-container">
                                            <div class="faux-upload-file-row">
                                                @if (Model.supporting_docs_list.Count > 0)
                                                {
                                                    int docNum = 1;

                                                    foreach(var file in Model.supporting_docs_list)
                                                    {
                                                        string nextName = "Doc" + docNum.ToString();
                                                        <a href="~/uploaded_docs/@file" download>@nextName</a>

                                                        <span>&nbsp;&nbsp;</span>
                                                        docNum = docNum + 1;
                                                    }
                                                }
                                                else
                                                {
                                                    <span class="supporting-doc-placeholder">No documents available.</span>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 add-sub-transactions-container">
                            <div class="col-6">
                                <div class="add-sub-transactions-container">
                                    <span class="add-sub-transactions-label">@* Add/Subtract Transactions: *@</span>
                                </div>
                            </div>

                        </div>
                    </div>
                    @*  line items start *@
                    <div class="journal-row">
                        <!-- entry 1.1 row -->
                        <div class="row g-1 journal-item-row" data-transaction="1" data-line="1">
                            <div class="col-md-3">
                                <span>Debit Account:</span>
                                <select class="form-select form-control-sm" data-transaction="1" data-line="1" id="dr-account" readonly>
                                    <option value="@Model.transactions_list[0].debit_account">@Model.transactions_list[0].dr_description</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <span>Credit Account:</span>
                                <input type="text" class="form-control muted" readonly />
                                <select class="form-select form-control-sm " data-transaction="1" data-line="1" id="cr-account" hidden readonly>
                                    <option value="unselected">Select a credit account</option>
                                </select>
                            </div>
                            <div class="col-md-1">
                                <span>Post Ref:</span>
                                @if (@Model.transactions_list[0].id != 0)
                                {
                                    string JID = Model.transactions_list[0].journal_id.ToString();
                                    <div class="journal-post-ref-text">
                                        <a asp-action="GeneralJournal" asp-route-id="1" asp-route-JID="@JID" role="button" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Redirects to the General Journal transactions.">
                                            <input type="number" class="form-control muted" style="color: blue; text-align: center;" value="@Model.transactions_list[0].id" data-transaction="1" data-line="1" id="post-ref" readonly>
                                        </a>
                                    </div>
                                }
                                else
                                {
                                    <div class="">
                                        <input type="number" class="form-control muted" data-transaction="1" data-line="1" id="post-ref" readonly>
                                    </div>
                                }

                            </div>
                            <div class="col-md-2">
                                <span>Dr.</span>
                                <div class="text-center">
                                    <input class="form-control text-end currencyField" value="@Model.transactions_list[0].debit_amount" data-transaction="1" data-line="1" id="dr-amount" readonly />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <span>Cr.</span>
                                <div class="">
                                    <input type="text" class="form-control muted" readonly />
                                    <input class="form-control text-end currencyField" value="$0.00" data-transaction="1" data-line="1" id="cr-amount" hidden />
                                </div>
                            </div>
                        </div>
                        <!-- end entry 1.1 row -->
                        <!-- begin entry 1.2 row this is the section to reproduce in js -->
                        <div class="row g-1 journal-item-row" data-transaction="1" data-line="2">
                            <div class="col-md-3">
                                @if (@Model.transactions_list[1].debit_account != 0)
                                {
                                    <select class="form-select form-control-sm" id="dr-account" readonly>
                                        <option value="@Model.transactions_list[1].debit_account">@Model.transactions_list[1].dr_description</option>
                                    </select>
                                }
                                else
                                {
                                    <input type="number" class="form-control muted" id="" readonly>
                                }

                            </div>
                            <div class="col-md-3">
                                @if (@Model.transactions_list[1].credit_account != 0)
                                {
                                    <select class="form-select form-control-sm" id="dr-account" readonly>
                                        <option value="@Model.transactions_list[1].credit_account">@Model.transactions_list[1].cr_description</option>
                                    </select>
                                }
                                else
                                {
                                    <input type="number" class="form-control muted" id="" readonly>
                                }
                            </div>
                            <div class="col-md-1">
                                @if (@Model.transactions_list[1].id != 0)
                                {
                                    string JID = Model.transactions_list[0].journal_id.ToString();
                                    <div class="journal-post-ref-text">
                                        <a asp-action="GeneralJournal" asp-route-id="1" asp-route-JID="@JID" role="button" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Redirects to the General Journal transactions.">
                                            <input type="number" class="form-control muted" style="color: blue; text-align: center;" value="@Model.transactions_list[0].id" data-transaction="1" data-line="1" id="post-ref" readonly>
                                        </a>
                                    </div>
                                }
                                else
                                {
                                    <div class="">
                                        <input type="number" class="form-control muted" data-transaction="1" data-line="2" id="post-ref" readonly>
                                    </div>

                                }
                            </div>
                            <div class="col-md-2">
                                @if (@Model.transactions_list[1].debit_amount != 0)
                                {
                                    <div class="text-center">
                                        <input class="form-control text-end currencyField" value="@Model.transactions_list[1].debit_amount" id="dr-amount" readonly />
                                    </div>
                                }
                                else
                                {
                                    <input type="text" class="form-control muted" readonly />
                                }
                            </div>
                            <div class="col-md-2">
                                @if (@Model.transactions_list[1].credit_amount != 0)
                                {
                                    <div class="">
                                        <input class="form-control text-end currencyField" value="@Model.transactions_list[1].credit_amount" id="cr-amount" readonly />
                                    </div>
                                }
                                else
                                {
                                    <input type="text" class="form-control muted" readonly />
                                }
                            </div>

                        </div>
                        @* end entry 1.2 row *@
                        @* line items end, dynamic lines begin*@
                        @{
                            for (int i = 2; i < Model.transactions_list.Count; i++)
                            {
                                <div class="row g-1 journal-item-row" data-transaction="1" data-line="@i">
                                    <div class="col-md-3">
                                        @if (@Model.transactions_list[i].debit_account != 0)
                                        {
                                            <select class="form-select form-control-sm" id="dr-account" readonly>
                                                <option value="@Model.transactions_list[i].debit_account">@Model.transactions_list[i].dr_description</option>
                                            </select>
                                        }
                                        else
                                        {
                                            <input type="number" class="form-control muted" id="post-ref" readonly>
                                        }

                                    </div>
                                    <div class="col-md-3">
                                        @if (@Model.transactions_list[i].credit_account != 0)
                                        {
                                            <select class="form-select form-control-sm" id="cr-account" readonly>
                                                <option value="@Model.transactions_list[i].credit_account">@Model.transactions_list[i].cr_description</option>
                                            </select>
                                        }
                                        else
                                        {
                                            <input type="number" class="form-control muted" id="post-ref" readonly>
                                        }

                                    </div>
                                    <div class="col-md-1">
                                        @if (@Model.transactions_list[i].id != 0)
                                        {
                                            string JID = Model.transactions_list[0].journal_id.ToString();
                                            <div class="journal-post-ref-text">
                                                <a asp-action="GeneralJournal" asp-route-id="1" asp-route-JID="@JID" role="button" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Redirects to the General Journal transactions.">
                                                    <input type="number" class="form-control muted" style="color: blue; text-align: center;" value="@Model.transactions_list[0].id" data-transaction="1" data-line="1" id="post-ref" readonly>
                                                </a>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="">
                                                <input type="number" class="form-control muted" id="post-ref" readonly>
                                            </div>
                                        }
                                    </div>
                                    <div class="col-md-2">
                                        @if (@Model.transactions_list[i].debit_amount != 0)
                                        {
                                            <div class="text-center">
                                                <input class="form-control text-end currencyField" value="@Model.transactions_list[i].debit_amount" id="dr-amount" readonly />
                                            </div>
                                        }
                                        else
                                        {
                                            <input type="text" class="form-control muted" readonly />
                                        }
                                    </div>
                                    <div class="col-md-2">
                                        @if (@Model.transactions_list[i].credit_amount != 0)
                                        {
                                            <div class="">
                                                <input class="form-control text-end currencyField" value="@Model.transactions_list[i].credit_amount" id="cr-amount" readonly />
                                            </div>
                                        }
                                        else
                                        {
                                            <input type="text" class="form-control muted" readonly />
                                        }
                                    </div>

                                </div>
                            }
                        }
                        <div class="row g-1 journal-item-row">
                            @* totals *@
                            <div class="row g-1 journal-item-row">
                                <div class="col-md-6">
                                    <div class="transaction-description">
                                        <input style="text-align:left;" class="form-control transaction-description" placeholder="Transaction Description" value="@Model.transactions_list[0].description" data-transaction="1" id="transaction-description" readonly />
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="journal-totals">
                                        <span class="totals"></span>
                                    </div>
                                </div>
                                <div class="col-md-2">

                                    <div class="">
                                        <input class="form-control text-end currencyField" value="@Model.total_adjustment" data-val="false" data-transaction="1" readonly />
                                    </div>
                                    <hr class="hr-journal-totals" />
                                    <hr class="hr-journal-totals" />
                                </div>
                                <div class="col-md-2" style="margin-left:2.5px">

                                    <div class="">
                                        <input class="form-control text-end currencyField" value="@Model.total_adjustment" data-val="false" data-transaction="1" readonly />
                                    </div>
                                    <hr class="hr-journal-totals" />
                                    <hr class="hr-journal-totals" />
                                </div>
                            </div>
                            <div>
                                <div class="warning-row">
                                    <div class="text-danger text-right" id="journal_validation"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @* journal description input *@
                <div class="journal-row">
                    <div class="journal-final-input-row">
                        <div class="col-md-8">
                            <div class="journal-description">
                                <input class="form-control" placeholder="Journal Note" data-val="false" value="@Model.journal_description" id="journal-description" readonly/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" checked=@Model.is_adjusting id="is-adjusting" disabled />
                                <label class="form-check-label" for="is-adjusting">
                                    Adjusting entry?
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="journal-save-row">
                <div class="journal-save-row">
                        <a asp-action="Index" id="journal_back_href">
                            <div class="btn btn-outline-primary reset-btn" id="journal_back_btn">
                                <span class="">Back</span>
                            </div>
                        </a>
                </div>
                <div>
                    <input type="submit" value="Save" class="btn btn-primary" id="save_journal_btn" hidden>
                </div>
        </form>
        <div />
    </div>
    @{
        string environment = Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT");
        if (environment == "Production")
        {
            <script src="~/js/journal_production.js" asp-append-version="true"></script>
        }
        else
        {
            <script src="~/js/journal.js" asp-append-version="true"></script>
        }
    }
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }


    <script>
        function UpdateCurrencyOnLoad() {
            document.querySelectorAll('.currencyField').forEach(function (input) {
                let value = input.value.trim(); // Trim spaces from the input
                value = value.replace(/[^0-9.]/g, '');
                let parts = value.split('.');
                let integerPart = parts[0];
                let decimalPart = parts[1] ? parts[1].substring(0, 2) : '';

                // Remove leading zeros and handle empty integerPart
                var flt = parseInt(integerPart, 10);
                if (isNaN(flt)) {
                    flt = 0;
                }

                // Back to string
                integerPart = flt.toString();
                integerPart = integerPart.replace(/\B(?=(\d{3})+(?!\d))/g, ',');

                let formattedValue = integerPart;
                if (formattedValue.length >= 1) {
                    formattedValue = '$' + formattedValue;
                } else {
                    formattedValue = '$0';
                }

                let newTail = "";
                if (decimalPart === "") {
                    newTail = ".00";
                } else if (decimalPart.length == 1) {
                    newTail = "." + decimalPart + "0";
                } else if (decimalPart.length == 2) {
                    newTail = "." + decimalPart;
                } else if (decimalPart.length > 2) {
                    newTail = "." + decimalPart.substring(0, 2);
                }

                formattedValue = formattedValue + newTail;
                input.value = formattedValue;
            });
        }
        window.addEventListener('load', UpdateCurrencyOnLoad);
    </script>