@model IEnumerable<oa.Models.AccountsModel>

@{
    ViewData["Title"] = "viewOwnersEquity";

    double revenueTotal = 0;

    double expenseTotal = 0;

    double netIncomeTotal = 0;

    int numberOfRevenueAccounts = ViewBag.numberOfRevenueAccounts;

    int numberOfExpenseAccounts = ViewBag.numberOfExpenseAccounts;
    double startingBalance = (double)ViewBag.retainedEarningsStartingBalance;
    double dividends = (double)ViewBag.dividendsBalance;

    int count = 0;
}

<div class="text-center margin-top-120">
</div>
<h1 class="text-center mb-4">Statement of retained earnings</h1>
<h2 class="text-center mb-4">For the period ending: <span class="accent-color">@ViewBag.Date</span></h2>

<div class="table-wrapper margin-top-20">
    <table class="table table-striped">
        <thead class="table-top-row">
            <tr>
                <th style="text-align:left">
                </th>
                <th style="text-align:right; padding-right:40px">
                    Total Amount
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
            </tr>
            @foreach (var item in Model)
            {
                @if (item.type.Equals("Revenue"))

                {
                        {
                            revenueTotal += (double)item.current_balance;

                            count++;
                        }
                    if (count == numberOfRevenueAccounts)

                    {
                        {
                        count = 0;
                    }
                    }
                }
            }
            @foreach (var item in Model)
            {
                @if (item.type.Equals("Expense"))

                {

                        {
                            expenseTotal += (double)item.current_balance;

                            count++;
                        }
                    if (count == numberOfExpenseAccounts)

                    {
                        {
                        count = 0;
                    }
                }

                    }
                }
            <tr></tr>
        <td style="text-align:left; padding-left: 40px;">Beginning Balance</td>
        <td style="text-align:right; padding-right:40px;">@FormatNegativeDouble(startingBalance)</td>

            @{
                netIncomeTotal = revenueTotal - expenseTotal;
            }
        <tr></tr>
        <td style="text-align:left; padding-left: 40px;">Net Income Total</td>
        <td style="text-align:right; padding-right:40px;">@FormatNegativeDouble(netIncomeTotal)</td>

        <tr></tr>
        <td style="text-align:left; padding-left: 40px;">Dividends</td>
        <td style="text-align:right; padding-right:40px;">@FormatNegativeDouble(dividends)</td>
            @{
                netIncomeTotal -= dividends;
            }
            <tr>
                <td style="text-align:left; padding-left: 40px; font-weight: bold;">Ending Balance:</td>
                <td style="text-align:right; text-decoration-line:underline; text-decoration-style:double; padding-right:40px; font-weight: bold;"><span class="doubleUnderline">@FormatNegativeDouble(netIncomeTotal)</span></td>
            </tr>
        </tbody>
    </table>
</div>

@functions {
    public static string FormatNegativeDouble(double? value)

    {

        if (value.HasValue)

        {

            Console.WriteLine($"Formatting value: {value}");

            if (value < 0)

            {

                return $"({Math.Abs(value.Value).ToString("C")})";

            }

            return value.Value.ToString("C");

        }

        return string.Empty;

    }
}